.workExperience{
	margin-left: 4%;
	margin-bottom:20px;
	float: left;
}

.timeline{
	width:20%;
	min-width:20%;

}

.timelineUL{
	padding: 10px 0 0 13px;
	margin: 0;
	text-align: right;
	list-style: none;
}

.timelineLI{
	padding-top:3px;
}

.jobDetails{
	width:72%;
	min-width:72%;
	
}

.jobDetailsUL{
	padding: 10px 0 0 13px;
	margin: 0;
	border-left: 3px solid rgba(0, 0, 0, 0.15);
	
}

ul{

}

.liTest{
	list-style-image: url("../img/icon-right-arrow.png") !important;
	vertical-align: top;
}

.workExperienceHeaders{
	margin: 0px 0px 10px 0px;
	/*padding-top:3px;*/
}

.skillsDivs{
	margin-bottom:20px;
	float: left;
	width:100%;
	min-width:100%;	
}

.skillsLabelsDiv{
	width:20%;
	min-width:20%;	
}

.skillsProgressDiv{
	width:100%;
	min-width:100%;	
}

.progressSpanOverride{
	float: left;
	margin-left:0px !important;
	min-width:16% !important;
	width:16% !important;
}

.progressCustom{
	margin: 10px 0px !important;
}

.skillLabel{
	margin: 10px 0px;
	width:20%;
	float:left;
	font-size:14px;
	font-weight: bold;
}

.skillRow{
	margin-left:0px !important;
}

.hero-unitCustom{
	padding:20px !important;
	background-color: #0088cc;
	color:white;
}

.transformedSection{
	-webkit-transform: translate(0px, 0px) rotate(-0.7854rad) skewX(-0.7854rad) scale(0.93338, 0.46669);
}

.workExperienceHeaders{
	font-size: 17.5px;
	font-weight: bold;
	margin-top: 0px
}

.workExperienceToggleAnchors{
	text-decoration: none !important;
}

.accordion-heading-custom{
	padding-top: 10px;
}